In [1]:
import pandas as pd
df=pd.read_csv("IPL.csv")

In [2]:
df

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.85,0,0,0,0.00,0.00,0.00,2008,225000,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,450000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.22,0,99,2,49.50,9.00,33.00,2008,100000,110000

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.head(5)

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [5]:
list(df.columns)

['Sl.NO.',
 'PLAYER NAME',
 'AGE',
 'COUNTRY',
 'TEAM',
 'PLAYING ROLE',
 'T-RUNS',
 'T-WKTS',
 'ODI-RUNS-S',
 'ODI-SR-B',
 'ODI-WKTS',
 'ODI-SR-BL',
 'CAPTAINCY EXP',
 'RUNS-S',
 'HS',
 'AVE',
 'SR-B',
 'SIXERS',
 'RUNS-C',
 'WKTS',
 'AVE-BL',
 'ECON',
 'SR-BL',
 'AUCTION YEAR',
 'BASE PRICE',
 'SOLD PRICE']

In [9]:
df.shape

(130, 26)

In [11]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,128,129
Sl.NO.,1,2,3,4,5,6,7,8,9,10,...,121,122,123,124,125,126,127,128,129,130
PLAYER NAME,"Abdulla, YA",Abdur Razzak,"Agarkar, AB","Ashwin, R","Badrinath, S","Bailey, GJ","Balaji, L","Bollinger, DE","Botha, J","Boucher, MV",...,"Vettori, DL","Vinay Kumar, R","Warne, SK","Warner, DA","White, CL","Yadav, AS",Younis Khan,Yuvraj Singh,Zaheer Khan,"Zoysa, DNT"
AGE,2,2,2,1,2,2,2,2,2,2,...,2,2,3,1,2,2,2,2,2,2
COUNTRY,SA,BAN,IND,IND,IND,AUS,IND,AUS,SA,SA,...,NZ,IND,AUS,AUS,AUS,IND,PAK,IND,IND,SL
TEAM,KXIP,RCB,KKR,CSK,CSK,CSK,CSK+,CSK,RR,RCB+,...,DD+,RCB+,RR,DD,RCB+,DC,RR,KXIP+,MI+,DC
PLAYING ROLE,Allrounder,Bowler,Bowler,Bowler,Batsman,Batsman,Bowler,Bowler,Allrounder,W. Keeper,...,Allrounder,Bowler,Bowler,Batsman,Batsman,Batsman,Batsman,Batsman,Bowler,Bowler
T-RUNS,0,214,571,284,63,0,51,54,83,5515,...,4486,11,3154,483,146,0,6398,1775,1114,288
T-WKTS,0,18,58,31,0,0,27,50,17,1,...,359,1,708,2,5,0,7,9,288,64
ODI-RUNS-S,0,657,1269,241,79,172,120,50,609,4686,...,2105,43,1018,876,2037,0,6814,8051,790,343
ODI-SR-B,0,71.41,80.62,84.56,45.93,72.26,78.94,92.59,85.77,84.76,...,81.93,43.87,72.04,85.79,80.48,0,75.78,87.58,73.55,95.81
ODI-WKTS,0,185,288,51,0,0,34,62,72,0,...,282,28,293,0,12,0,3,109,278,108
ODI-SR-BL,0,37.6,32.9,36.8,0,0,42.5,31.3,53,0,...,45.7,35.3,36.3,0,27.5,0,86.6,44.3,35.4,39.4
CAPTAINCY EXP,0,0,0,0,0,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0,0
RUNS-S,0,0,167,58,1317,63,26,21,335,394,...,121,217,198,1025,745,49,3,1237,99,11
HS,0,0,39,11,71,48,15,16,67,50,...,29,25,34,109,78,16,3,66,23,10
AVE,0,0,18.56,5.8,32.93,21,4.33,21,30.45,28.14,...,15.13,9.43,9.9,27.7,31.04,9.8,3,26.32,9.9,11
SR-B,0,0,121.01,76.32,120.71,95.45,72.22,165.88,114.73,127.51,...,107.08,104.83,92.52,135.76,132.09,125.64,42.85,131.88,91.67,122.22
SIXERS,0,0,5,0,28,0,1,1,3,13,...,2,5,6,44,29,2,0,67,1,0
RUNS-C,307,29,1059,1125,0,0,1342,693,610,0,...,878,1664,1447,0,70,0,0,569,1783,99
WKTS,15,0,29,49,0,0,52,37,19,0,...,28,61,57,0,0,0,0,23,65,2
AVE-BL,20.47,0,36.52,22.96,0,0,25.81,18.73,32.11,0,...,31.36,27.28,25.39,0,0,0,0,24.74,27.43,49.5
ECON,8.9,14.5,8.81,6.23,0,0,7.98,7.22,6.85,0,...,6.81,8.24,7.27,0,14,0,0,7.02,7.75,9
SR-BL,13.93,0,24.9,22.14,0,0,19.4,15.57,28.11,0,...,27.75,19.87,20.95,0,0,0,0,21.13,21.26,33
AUCTION YEAR,2009,2008,2008,2011,2011,2009,2011,2011,2011,2008,...,2008,2011,2008,2011,2008,2010,2008,2011,2008,2008
BASE PRICE,50000,50000,200000,100000,100000,50000,100000,200000,200000,200000,...,250000,100000,450000,200000,100000,50000,225000,400000,200000,100000
SOLD PRICE,50000,50000,350000,850000,800000,50000,500000,700000,950000,450000,...,625000,475000,450000,750000,500000,750000,225000,1800000,450000,110000

In [12]:
df.shape

(130, 26)

In [15]:
a=df.head(5).transpose()

In [16]:
a

                         0             1            2          3             4
Sl.NO.                   1             2            3          4             5
PLAYER NAME    Abdulla, YA  Abdur Razzak  Agarkar, AB  Ashwin, R  Badrinath, S
AGE                      2             2            2          1             2
COUNTRY                 SA           BAN          IND        IND           IND
TEAM                  KXIP           RCB          KKR        CSK           CSK
PLAYING ROLE    Allrounder        Bowler       Bowler     Bowler       Batsman
T-RUNS                   0           214          571        284            63
T-WKTS                   0            18           58         31             0
ODI-RUNS-S               0           657         1269        241            79
ODI-SR-B                 0         71.41        80.62      84.56         45.93
ODI-WKTS                 0           185          288         51             0
ODI-SR-BL                0          37.6         32.9       36.8             0
CAPTAINCY EXP            0             0            0          0             0
RUNS-S                   0             0          167         58          1317
HS                       0             0           39         11            71
AVE                      0             0        18.56        5.8         32.93
SR-B                     0             0       121.01      76.32        120.71
SIXERS                   0             0            5          0            28
RUNS-C                 307            29         1059       1125             0
WKTS                    15             0           29         49             0
AVE-BL               20.47             0        36.52      22.96             0
ECON                   8.9          14.5         8.81       6.23             0
SR-BL                13.93             0         24.9      22.14             0
AUCTION YEAR          2009          2008         2008       2011          2011
BASE PRICE           50000         50000       200000     100000        100000
SOLD PRICE           50000         50000       350000     850000        800000

In [17]:
a.shape

(26, 5)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
Sl.NO.           130 non-null int64
PLAYER NAME      130 non-null object
AGE              130 non-null int64
COUNTRY          130 non-null object
TEAM             130 non-null object
PLAYING ROLE     130 non-null object
T-RUNS           130 non-null int64
T-WKTS           130 non-null int64
ODI-RUNS-S       130 non-null int64
ODI-SR-B         130 non-null float64
ODI-WKTS         130 non-null int64
ODI-SR-BL        130 non-null float64
CAPTAINCY EXP    130 non-null int64
RUNS-S           130 non-null int64
HS               130 non-null int64
AVE              130 non-null float64
SR-B             130 non-null float64
SIXERS           130 non-null int64
RUNS-C           130 non-null int64
WKTS             130 non-null int64
AVE-BL           130 non-null float64
ECON             130 non-null float64
SR-BL            130 non-null float64
AUCTION YEAR     130 non-null int64
BASE PRICE       130 non-null int64
SOLD PRICE       130 non-null int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

In [19]:
df[0:5]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [20]:
df[-5:]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.85,0,0,0,0.00,0.00,0.00,2008,225000,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,450000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.22,0,99,2,49.50,9.00,33.00,2008,100000,110000

In [21]:
df[20:75]

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
20,21,"Edwards, FH",2,WI,DC,Bowler,380,157,73,45.62,...,80.00,0,154,5,30.80,6.60,28.00,2009,150000,150000
21,22,"Fernando, CRD",2,SL,MI,Bowler,249,97,239,60.96,...,133.33,0,298,17,17.53,7.64,13.76,2008,150000,150000
22,23,"Fleming, SP",3,NZ,CSK,Batsman,7172,0,8037,71.49,...,118.78,3,0,0,0.00,0.00,0.00,2008,350000,350000
23,24,"Flintoff, A",2,ENG,CSK,Allrounder,3845,226,3394,88.82,...,116.98,2,105,2,52.50,9.55,33.00,2009,950000,1550000
24,25,"Gambhir, G",2,IND,DD+,Batsman,3712,0,4819,86.17,...,128.90,32,0,0,0.00,0.00,0.00,2008,220000,725000
25,26,"Ganguly, SC",3,IND,KKR+,Batsman,7212,32,11363,73.70,...,106.81,42,363,10,36.30,7.89,27.60,2011,200000,400000
26,27,"Gayle, CH",2,WI,KKR+,Allrounder,6373,72,8087,83.95,...,161.79,129,606,13,46.62,8.05,34.85,2008,250000,800000
27,28,"Gibbs, HH",3,SA,DC,Batsman,6167,0,8094,83.26,...,109.79,31,0,0,0.00,0.00,0.00,2008,250000,575000
28,29,"Gilchrist, AC",3,AUS,DC+,W. Keeper,5570,0,9619,96.94,...,140.21,86,0,0,0.00,0.00,0.00,2008,300000,700000
29,30,"Gony, MS",2,IND,CSK+,Bowler,0,0,0,0.00,...,117.39,5,999,30,33.30,8.47,23.60,2011,50000,290000
30,31,Harbhajan Singh,2,IND,MI,Bowler,2164,406,1190,80.51,...,151.41,22,1469,54,27.20,6.85,23.83,2008,250000,850000
31,32,"Harris, RJ",2,AUS,DC+,Bowler,199,46,48,100.00,...,107.48,3,975,44,22.16,7.71,17.27,2011,200000,325000
32,33,"Hayden, ML",3,AUS,CSK,Batsman,8625,0,6133,78.96,...,137.52,44,0,0,0.00,0.00,0.00,2008,225000,375000
33,34,"Henderson, T",3,SA,RR,Allrounder,0,0,0,0.00,...,68.75,1,40,1,40.00,6.66,36.00,2009,100000,650000
34,35,"Henriques, MC",1,AUS,KKR+,Allrounder,0,0,18,60.00,...,108.89,1,142,3,47.33,8.82,32.33,2011,50000,50000
35,36,"Hodge, BJ",3,AUS,KKR+,Batsman,503,0,575,87.51,...,121.50,28,300,17,17.65,7.89,13.41,2011,200000,425000
36,37,"Hopes, JR",2,AUS,KXIP,Allrounder,0,0,1326,93.71,...,136.27,11,548,14,39.14,9.13,25.71,2011,200000,350000
37,38,"Hussey, DJ",2,AUS,KKR+,Allrounder,0,0,1488,91.40,...,125.78,48,345,6,57.50,8.85,39.00,2008,100000,625000
38,39,"Hussey, MEK",3,AUS,CSK,Batsman,5708,7,5262,86.97,...,120.65,25,0,0,0.00,0.00,0.00,2008,250000,250000
39,40,"Jadeja, RA",1,IND,RR+,Allrounder,0,0,860,78.61,...,120.86,35,750,26,28.85,7.33,23.65,2011,100000,950000
40,41,"Jaffer, W",2,IND,RCB,Allrounder,1944,2,10,43.47,...,107.44,3,0,0,0.00,0.00,0.00,2008,150000,150000
41,42,"Jayasuriya, ST",3,SL,MI,Allrounder,6973,98,13430,91.21,...,144.36,39,390,13,30.00,7.96,22.62,2008,250000,975000
42,43,"Jayawardena, DPMD",2,SL,KXIP+,Batsman,10440,6,10596,78.08,...,128.02,33,0,0,0.00,0.00,0.00,2008,250000,475000
43,44,"Kaif, M",2,IND,RR+,Batsman,624,0,2753,72.03,...,103.60,6,0,0,0.00,0.00,0.00,2008,125000,675000
44,45,"Kallis, JH",3,SA,RCB,Allrounder,12379,276,11498,72.97,...,110.95,37,1713,45,38.07,7.96,28.71,2008,225000,900000
45,46,Kamran Akmal,2,PAK,RR,W. Keeper,2648,0,2924,84.31,...,164.10,8,0,0,0.00,0.00,0.00,2008,150000,150000
46,47,Kamran Khan,1,IND,RR+,Bowler,0,0,0,0.00,...,60.00,0,224,9,24.89,8.48,17.78,2009,20000,24000
47,48,"Karthik, KD",2,IND,DD+,W. Keeper,1000,0,1008,74.50,...,123.84,28,0,0,0.00,0.00,0.00,2008,200000,525000
48,49,"Kartik, M",2,IND,KKR+,Bowler,88,24,126,70.78,...,105.71,1,1013,21,48.24,7.02,41.33,2008,200000,425000
49,50,"Katich, SM",3,AUS,KXIP,Batsman,4188,21,1324,68.74,...,129.57,8,0,0,0.00,0.00,0.00,2008,200000,200000
50,51,"Kohli, V",1,IND,RCB,Batsman,491,0,3590,86.31,...,119.29,49,345,4,86.25,8.84,58.50,2011,150000,1800000
51,52,"Kumar, P",1,IND,RCB+,Bowler,149,27,292,88.21,...,114.08,14,1919,53,36.21,7.73,28.11,2011,200000,800000
52,53,"Kumble, A",3,IND,RCB,Bowler,2506,619,938,61.06,...,74.47,0,105,2,52.50,9.55,33.00,2008,250000,500000
53,54,"Langeveldt, CK",3,SA,KKR+,Bowler,16,16,73,58.87,...,88.89,1,187,13,14.38,7.19,12.00,2011,100000,140000
54,55,"Laxman, VVS",3,IND,DC+,Batsman,8781,2,2338,71.23,...,105.62,5,0,0,0.00,0.00,0.00,2008,150000,375000
55,56,"Lee, B",2,AUS,KXI+,Bowler,1451,310,1100,82.45,...,121.18,6,1009,21,48.05,7.56,38.24,2008,300000,900000
56,57,"Maharoof, MF",2,SL,DD,Allrounder,556,25,1042,84.44,...,143.90,9,520,27,19.26,7.43,15.56,2008,150000,225000
57,58,"Malinga, SL",2,SL,MI,Bowler,275,101,327,73.81,...,100.00,4,1381,83,16.64,6.36,15.69,2008,200000,350000
58,59,"Mascarenhas, AD",2,ENG,RR+,Allrounder,0,0,245,95.33,...,101.37,1,331,19,17.42,7.01,14.95,2011,100000,100000
59,60,"Mathews, AD",1,SL,KKR+,Allrounder,1219,7,1447,82.59,...,123.28,12,537,15,35.80,8.20,26.33,2011,300000,950000
60,61,"McCullum, BB",2,NZ,KKR+,W. Keeper,3763,0,4511,89.62,...,123.42,48,0,0,0.00,0.00,0.00,2008,175000,700000
61,62,"McDonald, AB",2,AUS,DD+,Allrounder,107,9,0,0.00,...,125.51,4,244,10,24.40,8.41,17.40,2011,50000,80000
62,63,"McGrath, GD",3,AUS,DD,Bowler,641,563,115,48.72,...,80.00,0,357,12,29.75,6.61,27.00,2008,350000,350000
63,64,Misbah-ul-Haq,3,PAK,RCB,Batsman,2173,0,2763,75.10,...,144.44,6,0,0,0.00,0.00,0.00,2010,100000,100000
64,65,"Mishra, A",2,IND,DD+,Bowler,392,43,5,27.77,...,102.20,3,1530,74,20.68,7.11,17.46,2011,100000,300000
65,66,"Mithun, A",1,IND,RCB,Bowler,120,9,51,92.72,...,133.33,1,435,6,72.50,9.89,44.00,2011,100000,260000
66,67,Mohammad Asif,2,PAK,DD,Bowler,141,106,34,34.00,...,50.00,0,296,8,37.00,9.25,24.00,2008,225000,650000
67,68,"Morkel, JA",2,SA,CSK,Allrounder,58,1,782,100.25,...,146.25,45,1899,69,27.52,8.25,20.01,2008,225000,675000
68,69,"Morkel, M",2,SA,RR+,Bowler,555,139,117,75.97,...,111.11,2,884,38,23.26,7.37,18.95,2011,100000,475000
69,70,"Muralitharan, M",3,SL,CSK+,Bowler,1261,800,674,77.56,...,66.67,0,1395,57,24.47,6.49,22.63,2008,250000,600000
70,71,"Nannes, DP",3,AUS,DD+,Bowler,0,0,1,50.00,...,30.77,0,627,24,26.13,7.17,21.92,2011,200000,650000
71,72,"Nayar, AM",2,IND,MI+,Allrounder,0,0,0,0.00,...,123.19,19,263,7,37.57,8.74,25.86,2011,50000,800000
72,73,"Nehra, A",2,IND,DD+,Bowler,77,44,141,57.31,...,82.61,1,1192,48,24.83,7.57,19.73,2011,200000,850000
73,74,"Noffke, AA",2,AUS,RCB,Allrounder,0,0,0,0.00,...,90.00,0,40,1,40.00,10.00,24.00,2010,20000,20000
74,75,"Ntini, M",2,SA,CSK,Bowler,699,390,199,66.77,...,61.11,0,242,7,34.57,6.91,30.00,2008,200000,200000

In [25]:
df[["PLAYER NAME","COUNTRY"]][20:75]

          PLAYER NAME COUNTRY
20        Edwards, FH      WI
21      Fernando, CRD      SL
22        Fleming, SP      NZ
23        Flintoff, A     ENG
24         Gambhir, G     IND
25        Ganguly, SC     IND
26          Gayle, CH      WI
27          Gibbs, HH      SA
28      Gilchrist, AC     AUS
29           Gony, MS     IND
30    Harbhajan Singh     IND
31         Harris, RJ     AUS
32         Hayden, ML     AUS
33       Henderson, T      SA
34      Henriques, MC     AUS
35          Hodge, BJ     AUS
36          Hopes, JR     AUS
37         Hussey, DJ     AUS
38        Hussey, MEK     AUS
39         Jadeja, RA     IND
40          Jaffer, W     IND
41     Jayasuriya, ST      SL
42  Jayawardena, DPMD      SL
43            Kaif, M     IND
44         Kallis, JH      SA
45       Kamran Akmal     PAK
46        Kamran Khan     IND
47        Karthik, KD     IND
48          Kartik, M     IND
49         Katich, SM     AUS
50           Kohli, V     IND
51           Kumar, P     IND
52          Kumble, A     IND
53     Langeveldt, CK      SA
54        Laxman, VVS     IND
55             Lee, B     AUS
56       Maharoof, MF      SL
57        Malinga, SL      SL
58    Mascarenhas, AD     ENG
59        Mathews, AD      SL
60       McCullum, BB      NZ
61       McDonald, AB     AUS
62        McGrath, GD     AUS
63      Misbah-ul-Haq     PAK
64          Mishra, A     IND
65          Mithun, A     IND
66      Mohammad Asif     PAK
67         Morkel, JA      SA
68          Morkel, M      SA
69    Muralitharan, M      SL
70         Nannes, DP     AUS
71          Nayar, AM     IND
72           Nehra, A     IND
73         Noffke, AA     AUS
74           Ntini, M      SA

In [28]:
df.iloc[7:9,2:6]

   AGE COUNTRY TEAM PLAYING ROLE
7    2     AUS  CSK       Bowler
8    2      SA   RR   Allrounder